@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

#navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #66aff1;
}

.left{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
}

.right{
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    justify-content: flex-end;
}

#logout{
    margin-right: 25px;
    cursor: pointer;
    font-size: 28px;
    padding: 15px;
}

#logo{
    width: 180px;
    margin: 0px 20px;
}

.elem{
    width: auto;
    padding: 20px 10px;
    margin: 12px;
    color: white;
    font-size: 18px;

}

.nav-span{
    padding: 15px;
}

.elem:hover{
    border-radius: 10px;
    background-color: #3492e3;
    cursor: pointer;
}

.pageheader-cont{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 10px 30px;
}

.pageheader{
    display: inline-flex;
    align-items: center;
    text-align: left;
    font-size: 28px;
    gap: 10px;
}

#wallet{
    color: #66aff1;
    font-weight: normal;
}